@page
@using Microsoft.Extensions.Localization
@using Todo.TaskManagement.Localization
@model Todo.TaskManagement.Web.Pages.TaskManagement.IndexModel
@inject IStringLocalizer<TaskManagementResource> L
@{
}
<h1>TaskManagement</h1>
<p>@L["SamplePageMessage"]</p>
