@page "/TaskManagement"
@using Microsoft.Extensions.Localization
@using global::Todo.TaskManagement.Localization
@inject IStringLocalizer<TaskManagementResource> L
@{
}
<h1>TaskManagement</h1>
<p>@L["SamplePageMessage"]</p>